<a href="https://colab.research.google.com/github/skytreesea/fast_campus/blob/master/02_%EC%9B%B9_%ED%81%AC%EB%A1%A4%EB%A7%81%EC%9D%84_%EC%9C%84%ED%95%9C_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EB%8B%A4%EB%A3%A8%EA%B8%B0_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Hello, world!')

Hello, world!

In [ ]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
a=123
b='대한민국'
print(type(a), type(b))

<class 'int'> <class 'str'>

In [ ]:
c=34.4
d=[1,2,3,4,5]
e={'네이버':'naver','다음':'daum'}
print(type(c),type(d),type(e))
e.values()
e['야후'] ='yahoo'
print(e)

<class 'float'> <class 'list'> <class 'dict'>
{'네이버': 'naver', '다음': 'daum', '야후': 'yahoo'}

In [ ]:
str(a)+b

'123대한민국'

In [ ]:
print(3+4)
age = 34
print('제 나이는 {}살입니다.'.format(age))

7
제 나이는 34살입니다.

In [ ]:
for i in d:
    print(i)

1
2
3
4
5

In [ ]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
d[-1]

5

In [ ]:
d[2:-1]

[3, 4]

In [ ]:
if 2*3 != 5:
    print('맞아요')

맞아요

In [ ]:
for i in d:
    if i >3:
        print(i)
    else:
        print(i,'는 3보다 크지 않습니다.')

1 는 3보다 크지 않습니다.
2 는 3보다 크지 않습니다.
3 는 3보다 크지 않습니다.
4
5

In [ ]:
def print_(string):
    print(string * 2)
    print(string * 5)
print_('대한민국')

대한민국대한민국
대한민국대한민국대한민국대한민국대한민국

In [ ]:
def average(a_list):
    k=0
    for i in d:
        k = k + i
    return k/len(a_list)

average(d) + 3
#출력 반환의 차이

6.0

In [ ]:
for i in range(2,10):
    for j in range(1,10):
        print('{} X {} = {}'.format(i,j,i*j))

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81